<div class="fellow-detail" >
  <div class='modal-header'>
    <h1 class="fellow-name" class="modal-title">{{person.name}}</h1>
    <img src='http://placehold.it/600x400'>
  </div>
  <div class="fellow-info modal-body text-center">
    <p class="fellow-label">hometown</p>
    <p class="fellow-hometown">{{person.hometown}}</p>
    <p class="fellow-label">alma mater</p>
    <p class="fellow-alma-mater">{{person.university}}</p>
    <p class="fellow-label">interests</p>
    <p class="fellow-languages">{{listLanguages(person.languages)}}</p>
    <p class="fellow-description text-justify">{{person.greeting}}</p>
  </div>
  <div class='modal-footer'>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>