.fellow-snapshot {
  width: 210px;
  padding: 5px;
  margin: 10px;
}`

.fellow-info {
  margin-top: 10%;
}

.fellow-name {
  font-weight: bold;
  font-size: 1.3em;
}

.fellow-college {
  text-decoration: underline;
}

.fellow-languages {
  font-style: italic;
}