.company-snapshot {
  width: 210px;
  padding: 5px;
  margin: 10px;
}

.company-info {
  margin-top: 10%;
}

.company-name {
  font-weight: bold;
  font-size: 1.3em;
}

.company-languages {
  font-style: italic;
}