.section-title {
  font-family: 'BrandonGrotesque';
  font-size: 32px;
  color: #F16839;
}

.container {
  width: 960px;
  height: 750px;
}
.heading {
  font-family: 'BrandonGrotesque';
  font-size: 80px;
  color: #FFF;
  vertical-align: middle;
  padding-top: 5%;
  text-shadow: 0 0 8pt rgba(0, 0, 0, .7);
}

.subheading {
  font-size: 50px;
  padding-top: 5%;
}

nav {
  background-color: #F16839;
  width: 960px;
}

.nav-btn {
  display: inline-block;
  font-size: 28px;
  font-family: 'OpenSans';
  text-transform: uppercase;
  margin-right: 15px;
}

.nav-link {
  color: #FFF;
}
.nav-link:hover {
  color: #FFF;
}
.nav-link:visited {
  color: #FFF;
}


/*Fellows view*/
.fellow-snapshot {
  width: 210px;
  padding: 5px;
  margin: 10px;
  display: inline-table;
}

.fellow-info {
  margin-top: 10%;
}

.fellow-name {
  font-weight: bold;
  font-size: 1.3em;
}

.fellow-college {
  text-decoration: underline;
}

.fellow-languages {
  font-style: italic;
}

/*Fellow Detail view*/
.fellow-detail {
  width: 620px;
  margin: auto;
}

.fellow-detail .fellow-name {
  font-family: "BrandonGrotesque";
  font-size: 50px;
  text-transform: uppercase;
  color: #f16839;
  margin-bottom: 5px;
}

.fellow-detail .fellow-hometown {
  font-size: 36px;
  margin-bottom: 5px;
}

.fellow-detail .fellow-label {
  color: #1EA8B4;
  font-style: italic;
  font-size: 20px;
}

.fellow-detail .fellow-alma-mater {
  font-size: 1.5em;
}

.fellow-detail .fellow-languages {
  font-size: 28px;
}


/* Register form */

.form-label {
  display: inline-block;
}

.form-control {
  margin: 5px 0;
}
