<html>
<head>
  <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../main.css">
  <link rel="stylesheet" type="text/css" href="company.css">
</head>
<body>
  <div class='company-snapshot'>
    <img class='company-headshot' src='http://placehold.it/200x200' alt="company-name" />
    <div class='company-info text-center'>
      <p class='company-name'>Waldo's Widgets</p>
      <p class='company-location'>Ferndale, MI</p>
      <p class='company-seeking'>seeking</p>
      <p class='company-openings'>Java, C++, Python</p>
      <p class='fellow-blurb text-left'>Hi, I'm Billy and I am looking for an environment where I can make a difference in the innovation space. I seek to synergize all the verticals and leverage my core compentencies to set a brand trajectory toward the common goal of growing the business infrastructure. Committing to enhancing a company's assets to bring a value-add propostion to the table.</p>
    </div>
  </div>
</body>
</html>